@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.site-page-header-ghost-wrapper{
  padding: 20px;
  background-color: #f5f5f5;
}
.message-card{
  padding: 15px;
  background-color:#09d3ac;
  height:fit-content;
}
.operation-card{
  padding: 15px;
  border: 5px;
  background-color: bisque;
}
.countdown-card{
  padding: 15px;
}
.pending-return-card{
  padding: 15px;
}
.auction-details-card{
  padding: 15px;
  background-color:silver;
}
.pending-and-countdown-card{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: khaki;
}